Repository linhnguyen-gt/new-react-native-zustand-react-query: changes, and which lefthook commands are due for each by the changed paths.
All: versions, lint-staged, typescript

lefthook.yml:

pre-commit:
    parallel: true
    commands:
        versions:
            glob: "package.json"
            run: yarn update-versions && git add README.md
        lint-staged:
            glob: "*.{js,ts,jsx,tsx}"
            run: yarn lint-staged
        typescript:
            glob: "*.{ts,tsx}"
            run: yarn tsc --noEmit

commit-msg:
    commands:
        commitlint:
            run: yarn commitlint --edit .git/COMMIT_EDITMSG

chore: clean http
  package.json
  src/data/services/httpClient/HttpClient.ts
Due: versions, lint-staged, typescript

Rename IHttpClient.ts to iHttpClient.ts
  src/data/services/httpClient/interfaces/iHttpClient.ts
Due: lint-staged, typescript

Rename ApiMethod.ts to apiMethod.ts
  src/data/services/httpClient/apiMethod.ts
Due: lint-staged, typescript

Rename HttpClient.ts to httpClient.ts
  src/data/services/httpClient/httpClient.ts
Due: lint-staged, typescript

Rename HttpProblem.ts to httpProblem.ts
  src/data/services/httpClient/httpProblem.ts
Due: lint-staged, typescript

Rename INavigationService.ts to iNavigationService.ts
  src/data/services/navigation/iNavigationService.ts
Due: lint-staged, typescript

Rename NavigationLogger.ts to navigationLogger.ts
  src/data/services/navigation/navigationLogger.ts
Due: lint-staged, typescript

Rename RootNavigator.ts to rootNavigator.ts
  src/data/services/navigation/rootNavigator.ts
Due: lint-staged, typescript

Rename Colors.ts to colors.ts
  src/shared/constants/colors.ts
Due: lint-staged, typescript

Rename Errors.ts to errors.ts
  src/shared/constants/errors.ts
Due: lint-staged, typescript

Rename RouteName.ts to routeName.ts
  src/shared/constants/routeName.ts
Due: lint-staged, typescript

Rename ErrorHandler.ts to errorHandler.ts
  src/data/services/httpClient/services/errorHandler.ts
Due: lint-staged, typescript

Rename RequestInterceptor.ts to requestInterceptor.ts
  src/data/services/httpClient/services/requestInterceptor.ts
Due: lint-staged, typescript

Rename TokenService.ts to tokenService.ts
  src/data/services/httpClient/services/tokenService.ts
Due: lint-staged, typescript

chore: change name and import
  tsconfig.json
Due: none

Delete directory
  .cursor/rules/rules.mdc
Due: none

Update package.json
  package.json
Due: versions

fix: hardcode
  ios/scripts/set_version.sh
Due: none

chore: update readme
  .expo/prebuild/cached-packages.json
  README.md
  package.json
  yarn.lock
Due: versions

fix: script ios
  .expo/README.md
  .expo/devices.json
  .expo/prebuild/cached-packages.json
  README.md
  ios/NewReactNativeZustandRNQ.xcodeproj/project.pbxproj
  ios/NewReactNativeZustandRNQ/Info.plist
  ios/Podfile
  ios/Podfile.lock
  ios/scripts/run_ios_build.sh
  ios/scripts/set_version.sh
  ios/scripts/test_env.sh
  ios/scripts/test_scripts.sh
  package.json
Due: versions

feat: upgrade package
  README.md
  index.js
  ios/NewReactNativeZustandRNQ.xcodeproj/project.pbxproj
  ios/Podfile.lock
  package.json
  src/presentation/components/listView/ListView.tsx
  yarn.lock
Due: versions, lint-staged, typescript
