Repository linhnguyen-gt/new-react-native-zustand-react-query: changes, and which lefthook commands are due for each by the changed paths.
All: versions, lint-staged, typescript

lefthook.yml:

pre-commit:
    parallel: true
    commands:
        versions:
            glob: "package.json"
            run: yarn update-versions && git add README.md
        lint-staged:
            glob: "*.{js,ts,jsx,tsx}"
            run: yarn lint-staged
        typescript:
            glob: "*.{ts,tsx}"
            run: yarn tsc --noEmit

commit-msg:
    commands:
        commitlint:
            run: yarn commitlint --edit .git/COMMIT_EDITMSG

feat: change reactotron
  src/App.tsx
  src/app/providers/QueryProvider.tsx
  src/data/services/reactotron/Reactotron.ts
  src/data/services/reactotron/ReactotronConfig.ts
  src/data/services/reactotron/index.ts
  src/data/services/reactotron/plugins/api.plugin.ts
  src/data/services/reactotron/plugins/index.ts
  src/data/services/reactotron/plugins/query.plugin.ts
  src/data/services/reactotron/plugins/zustand.plugin.ts
  src/data/services/reactotron/reactotron.core.ts
  src/data/services/reactotron/reactotronInstance.ts
  src/presentation/index.ts
  src/presentation/navigator/AppStack.tsx
  src/presentation/navigator/index.ts
  src/shared/helper/Navigation.ts
  src/shared/helper/index.ts
  src/shared/index.ts
Due: lint-staged, typescript

feat: update readme and change location file
  README.md
  package.json
  src/app/store/counter.store.ts
  src/app/store/index.ts
  src/app/store/response.store.ts
  src/app/store/store.factory.ts
  src/data/services/navigation/NavigatorParamsType.ts
  src/data/services/navigation/RootNavigator.ts
  src/enums/Errors.ts
  src/model/CountModel.ts
  src/model/index.ts
  src/presentation/navigator/AppStack.tsx
  src/presentation/screens/counter/index.tsx
  src/presentation/screens/index.ts
  src/presentation/screens/login/__tests__/LoginPage.test.tsx
  src/presentation/screens/main/index.tsx
  src/presentation/screens/signup/index.tsx
  src/shared/enums/Errors.ts
  src/shared/enums/RouteName.ts
  src/shared/enums/index.ts
  src/shared/index.ts
  yarn.lock
Due: versions, lint-staged, typescript

feat: update readme and fix unit test
  README.md
  __mocks__/entypo.js
  __mocks__/reactotron-react-native.js
  jest.config.js
  jest.setup.js
  src/app/store/store.factory.ts
  src/presentation/screens/login/__tests__/LoginPage.test.tsx
  tsconfig.json
Due: lint-staged, typescript

refactor: change name
  src/presentation/screens/index.ts
  src/presentation/screens/signIn/__tests__/LoginPage.test.tsx
  src/presentation/screens/signIn/index.tsx
Due: lint-staged, typescript

refactor: show list
  src/presentation/screens/main/index.tsx
Due: lint-staged, typescript

refactor: update ui
  src/presentation/screens/main/index.tsx
  src/presentation/screens/signIn/index.tsx
  src/presentation/screens/signup/index.tsx
  src/shared/constants/Colors.ts
Due: lint-staged, typescript

fix: import and metro
  .eslintignore
  metro.config.js
  src/data/repositories/responseRepository.ts
  src/presentation/components/touchable/MyTouchable.tsx
  src/presentation/screens/counter/index.tsx
  src/presentation/screens/main/index.tsx
  src/presentation/screens/signIn/index.tsx
  src/presentation/screens/signup/index.tsx
Due: lint-staged, typescript

feat: upgrade package
  README.md
  ios/Podfile.lock
  package.json
  yarn.lock
Due: versions

refactor: upgrade package and improve code
  Gemfile
  Gemfile.lock
  README.md
  android/build.gradle
  ios/Podfile.lock
  package.json
  src/presentation/components/keyboardSpace/KeyboardViewSpacer.tsx
  src/presentation/components/touchable/MyTouchable.tsx
  src/presentation/navigator/AppStack.tsx
  yarn.lock
Due: versions, lint-staged, typescript

refactor: change bundle id and name
  android/app/build.gradle
  ios/NewReactNative.xcodeproj/project.pbxproj
  ios/NewReactNative.xcodeproj/xcshareddata/xcschemes/NewReactNative.xcscheme
  ios/NewReactNative.xcodeproj/xcshareddata/xcschemes/Pro.xcscheme
  ios/NewReactNative.xcodeproj/xcshareddata/xcschemes/Staging.xcscheme
Due: none

fix: react-dom could not be found within the project or in these directories
  ios/NewReactNative.xcodeproj/project.pbxproj
  ios/Podfile.lock
Due: none

fix: react-dom could not be found within the project or in these directories
  package.json
  yarn.lock
Due: versions

refactor: improve http client solid principle
  src/data/services/httpClient/HttpClient.ts
  src/data/services/httpClient/interfaces/IHttpClient.ts
  src/data/services/httpClient/services/ErrorHandler.ts
  src/data/services/httpClient/services/TokenService.ts
Due: lint-staged, typescript

refactor: http client
  src/data/services/httpClient/HttpClient.ts
Due: lint-staged, typescript

fix: name package
  package.json
  scripts/update-readme-versions.js
  yarn.lock
Due: versions, lint-staged

Update README.md
  README.md
Due: none

chore: update readme
  README.md
Due: none

refactor: move lodash to radash
  package.json
  yarn.lock
Due: versions

chore: build
  .expo/prebuild/cached-packages.json
  ios/Podfile.lock
Due: none

fix: type env
  src/data/services/environment.ts
  src/presentation/screens/signIn/__tests__/LoginPage.test.tsx
  src/shared/types/env.d.ts
Due: lint-staged, typescript

refactor: log reactotron
  .expo/xcodebuild.log
  src/data/services/reactotron/index.ts
  src/data/services/reactotron/plugins/api.plugin.ts
  src/data/services/reactotron/plugins/query.plugin.ts
  src/data/services/reactotron/plugins/zustand.plugin.ts
  src/data/services/reactotron/reactotron.core.ts
  src/shared/types/reactotron.d.ts
Due: lint-staged, typescript

fix: log
  .expo/xcodebuild.log
  src/data/services/reactotron/plugins/query.plugin.ts
  src/data/services/reactotron/reactotron.core.ts
Due: lint-staged, typescript

Rename Navigation.ts to navigation.ts
  src/shared/helper/navigation.ts
Due: lint-staged, typescript

fix: package android
  .expo/README.md
  .expo/devices.json
  .expo/prebuild/cached-packages.json
  .expo/xcodebuild-error.log
  .expo/xcodebuild.log
  android/app/src/main/java/com/app/MainActivity.kt
  android/app/src/main/java/com/app/MainApplication.kt
  android/app/src/main/java/com/newreactnativezustandrnq/MainActivity.kt
  android/app/src/main/java/com/newreactnativezustandrnq/MainApplication.kt
Due: none

fix: remove old android
  android/app/src/main/java/com/app/MainActivity.kt
  android/app/src/main/java/com/app/MainApplication.kt
Due: none

chore: update name setup
  .env.example
  scripts/setup-env.js
Due: lint-staged

chore: add font
  android/app/build.gradle
  ios/NewReactNativeZustandRNQ/Info.plist
Due: none

refactor: change formik to react hook form
  .eslintrc.js
  .expo/prebuild/cached-packages.json
  .expo/xcodebuild-error.log
  .expo/xcodebuild.log
  ios/NewReactNativeZustandRNQ/Info.plist
  package.json
  src/data/queries/responseQueries.ts
  src/data/services/navigation/RootNavigator.ts
  src/presentation/components/input/ControlledInput.tsx
  src/presentation/components/input/Input.tsx
  src/presentation/components/input/index.ts
  src/presentation/components/listView/ListView.tsx
  src/presentation/components/ui/box/BaseBox.tsx
  src/presentation/components/ui/container/ContainerBox.tsx
  src/presentation/components/ui/container/index.tsx
  src/presentation/components/ui/hStack/index.tsx
  src/presentation/components/ui/icon/index.tsx
  src/presentation/components/ui/vStack/index.tsx
  src/presentation/hooks/useResponse.ts
  src/presentation/navigator/AppStack.tsx
  src/presentation/screens/counter/index.tsx
  src/presentation/screens/main/index.tsx
  src/presentation/screens/signIn/__tests__/LoginPage.test.tsx
  src/presentation/screens/signIn/index.tsx
  src/presentation/screens/signup/index.tsx
  yarn.lock
Due: versions, lint-staged, typescript

refactor: update readme
  README.md
  scripts/update-readme-versions.js
Due: lint-staged

feat: upgrade package
  .expo/prebuild/cached-packages.json
  .expo/xcodebuild-error.log
  .expo/xcodebuild.log
  README.md
  ios/Podfile.lock
  package.json
  src/presentation/components/touchable/TouchableComponent.tsx
  src/presentation/screens/signIn/__tests__/LoginPage.test.tsx
  src/shared/models/countModels.ts
  yarn.lock
Due: versions, lint-staged, typescript

chore: update space and store
  src/app/store/counter.store.ts
  src/app/store/response.store.ts
  src/app/store/store.factory.ts
  src/presentation/components/keyboardSpace/KeyboardViewSpacer.tsx
  src/presentation/hooks/useShowToast.ts
  src/shared/helper/index.ts
Due: lint-staged, typescript

fix: safe area
  src/App.tsx
  src/presentation/components/ui/box/BaseBox.tsx
  src/presentation/components/ui/box/index.tsx
Due: lint-staged, typescript

fix: keyboard space
  src/presentation/components/keyboardSpace/KeyboardViewSpacer.tsx
Due: lint-staged, typescript
