Repository linhnguyen-gt/new-react-native-zustand-react-query: changes, and which lefthook commands are due for each by the changed paths.
All: versions, lint-staged, test

lefthook.yml:

pre-commit:
    parallel: true
    commands:
        versions:
            glob: 'package.json'
            run: yarn update-versions && git add README.md
        lint-staged:
            glob: '*.{js,ts,jsx,tsx}'
            run: yarn lint-staged
        test:
            glob: 'src/**/*.{js,ts,jsx,tsx}'
            run: yarn test --passWithNoTests

commit-msg:
    commands:
        commitlint:
            run: yarn commitlint --edit .git/COMMIT_EDITMSG

fix(ci): stop pinning the iOS build to a simulator name that ages out
  .github/workflows/ios-build.yml
Due: none

docs: track project documentation in version control
  .gitignore
  docs/EXPO_UPDATES.md
  docs/code-standards.md
  docs/codebase-summary.md
  docs/project-overview-pdr.md
  docs/project-roadmap.md
  docs/system-architecture.md
Due: none

docs(readme): sync dependency version badges
  README.md
Due: none

feat(ci): add manual release workflow with version bump and notes
  .github/workflows/release.yml
  scripts/__tests__/prepare-release.test.js
  scripts/prepare-release.cjs
Due: lint-staged

chore(deps): add @react-native-community/netinfo
  package.json
  pnpm-lock.yaml
Due: versions

feat(config): enable React Compiler
  app.config.ts
Due: lint-staged

docs: resync architecture and code standards
  docs/code-standards.md
  docs/system-architecture.md
Due: none

feat(env): manage environment variables through EAS instead of dotenv
  .env.example
  .gitignore
  README.md
  android/app/build.gradle
  android/app/src/main/AndroidManifest.xml
  app.config.ts
  ios/NewReactNativeZustandRNQ.xcodeproj/project.pbxproj
  ios/NewReactNativeZustandRNQ/Info.plist
  ios/Podfile.lock
  package.json
  plugins/__tests__/native-variant-table.test.js
  plugins/with-environment-support.cjs
  pnpm-lock.yaml
  scripts/env-exec.cjs
  scripts/env-sync.cjs
  scripts/lib/__tests__/load-variant-env.test.js
  scripts/lib/load-variant-env.cjs
  scripts/lib/load-variant-env.d.cts
  scripts/lib/parse-env-file.d.cts
  scripts/lib/variant-config.cjs
  scripts/lib/variant-config.d.cts
  scripts/setup-env.js
  src/presentation/screens/signup/hooks/useSignUpForm.ts
Due: versions, lint-staged, test

feat(eas): add profiles and route updates to the right environment
  eas.json
  scripts/lib/__tests__/eas-profiles.test.js
  scripts/push-update.cjs
Due: lint-staged

docs: describe the EAS environment model and drop dotenv-vault remnants
  .github/workflows/android-build.yml
  .github/workflows/ios-build.yml
  docs/codebase-summary.md
  docs/project-overview-pdr.md
  docs/system-architecture.md
  pnpm-workspace.yaml
  scripts/update-readme-versions.js
Due: lint-staged

fix(ios): remove leaked signing identity and template bundle identifiers
  .env.vault
  README.md
  app.json
  ios/NewReactNativeZustandRNQ.xcodeproj/project.pbxproj
  scripts/__tests__/native-build-integrity.test.js
  scripts/lib/variant-config.cjs
Due: lint-staged
