Repository linhnguyen-gt/new-react-native-zustand-react-query: changes, and which lefthook commands are due for each by the changed paths.
All: versions, lint-staged, test

lefthook.yml:

pre-commit:
    parallel: true
    commands:
        versions:
            glob: 'package.json'
            run: yarn update-versions && git add README.md
        lint-staged:
            glob: '*.{js,ts,jsx,tsx}'
            run: yarn lint-staged
        test:
            glob: 'src/**/*.{js,ts,jsx,tsx}'
            run: yarn test --passWithNoTests

commit-msg:
    commands:
        commitlint:
            run: yarn commitlint --edit .git/COMMIT_EDITMSG

fix(types): correct Uint8Array type for crypto.getRandomValues
  src/data/services/secureStorage.ts
Due: lint-staged, test

refactor(counter): migrate from inline styles to className
  src/presentation/screens/counter/index.tsx
Due: lint-staged, test

feat(updates): integrate Expo Updates for OTA JavaScript updates
  .env.example
  README.md
  app.config.ts
  app.json
  ios/NewReactNativeZustandRNQ.xcodeproj/project.pbxproj
  ios/Podfile.lock
  package.json
  scripts/push-update.cjs
  scripts/setup-env.js
  scripts/test-update.cjs
  src/App.tsx
  src/app/services/updateService.ts
  src/presentation/components/AppUpdateModal/AppUpdateModal.tsx
  src/presentation/components/AppUpdateModal/index.ts
  src/presentation/components/AppUpdateModal/utils/__tests__/useAppState.test.ts
  src/presentation/components/AppUpdateModal/utils/__tests__/usePrevious.test.ts
  src/presentation/components/AppUpdateModal/utils/index.ts
  src/presentation/components/AppUpdateModal/utils/useAppState.ts
  src/presentation/components/AppUpdateModal/utils/usePrevious.ts
Due: versions, lint-staged, test

feat(modal): improve update modal UI design
  src/presentation/components/modalUpdate/index.tsx
Due: lint-staged, test

feat(modal): replace AppUpdateModal with ModalUpdate component
  package.json
  src/App.tsx
  src/presentation/components/AppUpdateModal/AppUpdateModal.tsx
  src/presentation/components/AppUpdateModal/index.ts
  src/presentation/components/modalUpdate/utils/__tests__/useAppState.test.ts
  src/presentation/components/modalUpdate/utils/__tests__/usePrevious.test.ts
  src/presentation/components/modalUpdate/utils/index.ts
  src/presentation/components/modalUpdate/utils/useAppState.ts
  src/presentation/components/modalUpdate/utils/usePrevious.ts
Due: versions, lint-staged, test

docs: clarify native environment workflow
  README.md
Due: none

fix(env): sync native app names before builds
  AGENTS.md
  README.md
  android/app/build.gradle
  android/app/src/main/res/values/strings.xml
  ios/NewReactNativeZustandRNQ.xcodeproj/project.pbxproj
  package.json
  scripts/run-native.cjs
  scripts/sync-native-env.cjs
Due: versions

ci: add typecheck job and lint build tooling
  .github/workflows/ci.yml
  .gitignore
  eslint.config.js
  scripts/setup-env.js
  scripts/test-update.cjs
  tsconfig.json
Due: lint-staged

fix(http): propagate request errors instead of swallowing them
  src/data/api/responseApi.ts
  src/data/services/httpClient/__tests__/errorPropagation.test.ts
  src/data/services/httpClient/__tests__/refreshFailureClearsToken.test.ts
  src/data/services/httpClient/httpClient.ts
  src/data/services/httpClient/httpProblem.ts
  src/data/services/httpClient/interfaces/IHttpClient.ts
  src/data/services/httpClient/services/errorHandler.ts
  src/data/services/httpClient/services/requestInterceptor.ts
  src/data/services/httpClient/services/tokenService.ts
  tsconfig.json
Due: lint-staged, test

fix(security): stop leaking credentials, secrets and build metadata
  scripts/setup-env.js
  src/app/store/storeFactory.ts
  src/data/services/navigation/navigationLogger.ts
  src/data/services/reactotron/plugins/zustand.plugin.ts
  src/presentation/components/touchable/TouchableComponent.tsx
  src/presentation/components/touchable/__tests__/TouchableAccessibility.test.tsx
  src/presentation/screens/counter/index.tsx
  src/presentation/screens/signIn/__tests__/SignInPage.test.tsx
  src/presentation/screens/signIn/index.tsx
  src/presentation/screens/signup/hooks/useSignUpForm.ts
  src/shared/helper/__tests__/logger.test.ts
  src/shared/helper/logger.ts
Due: lint-staged, test

fix(security): keep Reactotron out of release bundles
  src/App.tsx
  src/app/providers/QueryProvider.tsx
  src/app/providers/queryClient.ts
  src/app/store/storeFactory.ts
  src/data/services/index.ts
  src/data/services/reactotron/index.ts
  src/data/services/reactotron/plugins/query.plugin.ts
  src/data/services/reactotron/reactotron.core.ts
  src/presentation/components/modalUpdate/__tests__/ModalUpdate.test.tsx
  src/presentation/components/modalUpdate/index.tsx
  src/presentation/screens/signIn/__tests__/SignInPage.test.tsx
  src/presentation/screens/signup/__tests__/SignUpPage.test.tsx
Due: lint-staged, test

fix: correct runtime defects in keyboard spacing, error classification and sign-up
  src/core/error/ErrorHandler.ts
  src/core/error/__tests__/ErrorClassification.test.ts
  src/presentation/components/ErrorBoundary.tsx
  src/presentation/components/keyboardSpace/KeyboardViewSpacer.tsx
  src/presentation/components/keyboardSpace/__tests__/KeyboardViewSpacer.test.tsx
  src/presentation/components/modalUpdate/index.tsx
  src/presentation/screens/signup/hooks/__tests__/useSignUpForm.test.ts
  src/presentation/screens/signup/hooks/useSignUpForm.ts
Due: lint-staged, test

perf: virtualise the posts list and repair broken memoisation
  src/presentation/components/input/Input.tsx
  src/presentation/components/listView/ListView.tsx
  src/presentation/components/listView/__tests__/ListView.test.tsx
  src/presentation/components/touchable/MyTouchable.tsx
  src/presentation/hooks/useResponse.ts
  src/presentation/screens/main/components/EmptyPosts.tsx
  src/presentation/screens/main/components/PostCard.tsx
  src/presentation/screens/main/components/PostsHeader.tsx
  src/presentation/screens/main/index.tsx
  src/presentation/screens/signIn/index.tsx
Due: lint-staged, test

fix(tooling): fail loudly when native mutations miss their anchor
  .env.example
  plugins/__tests__/anchored-native-mutations.test.js
  plugins/with-environment-support.cjs
  scripts/lib/parse-env-file.cjs
  scripts/push-update.cjs
  scripts/sync-native-env.cjs
Due: lint-staged

fix(storage): store tokens in the platform keystore and keep them off backups
  jest.config.cjs
  package.json
  pnpm-lock.yaml
  src/data/services/__tests__/secureStorage.test.ts
  src/data/services/secureStorage.ts
  src/shared/helper/__tests__/storage.test.ts
  src/shared/helper/storage.ts
Due: versions, lint-staged, test

chore: allow lefthook and native resolver build scripts under pnpm
  pnpm-workspace.yaml
Due: none

refactor: delete unreferenced error-recovery, toast and update modules
  src/app/services/updateService.ts
  src/core/error/ErrorRecovery.ts
  src/core/error/SentryIntegration.ts
  src/core/error/__tests__/ErrorRecovery.test.ts
  src/core/error/index.ts
  src/presentation/hooks/useShowToast.ts
Due: lint-staged, test

refactor: drop the perf-monitor hook and the unused secure-storage wrappers
  src/presentation/hooks/index.ts
  src/presentation/hooks/usePerformanceMonitor.ts
  src/shared/helper/__tests__/storage.test.ts
  src/shared/helper/storage.ts
Due: lint-staged, test

refactor: remove unused exports and duplicated sign-up strings
  src/core/error/ErrorHandler.ts
  src/core/error/__tests__/ErrorHandler.test.ts
  src/data/services/httpClient/httpProblem.ts
  src/data/services/httpClient/index.ts
  src/data/services/httpClient/services/errorHandler.ts
  src/presentation/components/input/Input.tsx
  src/presentation/components/touchable/TouchableComponent.tsx
  src/presentation/screens/signup/constants/strings.ts
  src/shared/config/appConfig.ts
  src/shared/helper/index.ts
  src/shared/models/responseModels.ts
Due: lint-staged, test

refactor: make the response type admit that failures throw
  src/data/api/responseApi.ts
  src/data/services/httpClient/__tests__/errorPropagation.test.ts
  src/data/services/httpClient/httpClient.ts
  src/data/services/httpClient/interfaces/IHttpClient.ts
  src/data/services/httpClient/services/tokenService.ts
  src/data/services/reactotron/plugins/api.plugin.ts
  src/data/services/reactotron/plugins/format-error.ts
  src/data/services/reactotron/plugins/query.plugin.ts
Due: lint-staged, test

docs: record why httpProblem has no importers and storage keeps two helpers
  src/data/services/httpClient/httpProblem.ts
  src/data/services/httpClient/index.ts
  src/shared/helper/storage.ts
Due: lint-staged, test

test: enforce a coverage floor instead of only reporting one
  jest.config.cjs
Due: none

fix(storage): stop deleting the credential when the keystore is merely unreadable
  src/shared/helper/__tests__/storage.test.ts
  src/shared/helper/storage.ts
Due: lint-staged, test

test: grade every source file, not just the ones a test imports
  jest.config.cjs
  src/data/services/httpClient/__tests__/errorPropagation.test.ts
  src/data/services/httpClient/httpProblem.ts
  src/data/services/httpClient/services/tokenService.ts
  src/data/services/reactotron/plugins/format-error.ts
Due: lint-staged, test

fix(auth): send a credential with the refresh, and stop losing tokens to blips
  src/data/services/httpClient/__tests__/refreshFailureClearsToken.test.ts
  src/data/services/httpClient/__tests__/token-refresh-lifecycle.test.ts
  src/data/services/httpClient/httpClient.ts
  src/data/services/httpClient/interfaces/IHttpClient.ts
  src/data/services/httpClient/services/refresh-client.ts
  src/data/services/httpClient/services/tokenService.ts
Due: lint-staged, test

fix(auth): stop the 401 replay from recursing and from retrying after logout
  src/data/services/httpClient/__tests__/refresh-retry-termination.test.ts
  src/data/services/httpClient/services/requestInterceptor.ts
Due: lint-staged, test

feat(config): wire the real API URL and enforce an https floor
  .env.example
  .github/workflows/android-build.yml
  .github/workflows/ios-build.yml
  jest.setup.js
  scripts/__tests__/check-env.test.js
  scripts/check-env.js
  src/core/error/ErrorHandler.ts
  src/data/api/responseApi.ts
  src/data/queries/__tests__/query-cancellation.test.ts
  src/data/queries/responseQueries.ts
  src/data/services/httpClient/__tests__/request-options.test.ts
  src/data/services/httpClient/httpClient.ts
  src/data/services/httpClient/interfaces/IHttpClient.ts
  src/presentation/components/ui/icon/index.tsx
  src/shared/config/__tests__/api-url.test.ts
  src/shared/config/api-url.ts
  src/shared/config/appConfig.ts
  src/shared/errors/AppError.ts
  src/shared/errors/index.ts
Due: lint-staged, test

fix(errors): stop showing gateway HTML pages as the error message
  scripts/run-native.cjs
  src/core/error/ErrorHandler.ts
  src/core/error/__tests__/ErrorHandler.test.ts
Due: lint-staged, test

fix(tooling): give the variant table one home and catch version drift
  .gitignore
  app.config.ts
  plugins/with-environment-support.cjs
  scripts/__tests__/native-build-integrity.test.js
  scripts/check-env.js
  scripts/lib/variant-config.cjs
  scripts/lib/variant-config.d.cts
  scripts/lib/write-file-atomic.cjs
  scripts/push-update.cjs
  scripts/run-native.cjs
  scripts/sync-native-env.cjs
Due: lint-staged

fix(list): stop zero-height skeletons from disabling virtualisation
  src/presentation/components/listView/ListView.tsx
  src/presentation/components/listView/__tests__/ListView.test.tsx
Due: lint-staged, test

refactor(ui): drop gluestack-ui from the component layer
  src/App.tsx
  src/presentation/components/touchable/TouchableComponent.tsx
  src/presentation/components/ui/box/BaseBox.tsx
  src/presentation/components/ui/box/styles.tsx
  src/presentation/components/ui/button/index.tsx
  src/presentation/components/ui/hStack/index.tsx
  src/presentation/components/ui/hStack/styles.tsx
  src/presentation/components/ui/image/index.tsx
  src/presentation/components/ui/index.ts
  src/presentation/components/ui/scrollView/index.tsx
  src/presentation/components/ui/scrollView/styles.tsx
  src/presentation/components/ui/text/index.tsx
  src/presentation/components/ui/text/styles.tsx
  src/presentation/components/ui/theme-provider/config.ts
  src/presentation/components/ui/theme-provider/index.tsx
  src/presentation/components/ui/toast/index.tsx
  src/presentation/components/ui/vStack/index.tsx
  src/presentation/components/ui/vStack/styles.tsx
Due: lint-staged, test

feat(style): add local tailwind-variants and class-name utilities
  src/shared/style/__tests__/tailwind-variants.test.ts
  src/shared/style/class-names.ts
  src/shared/style/index.ts
  src/shared/style/tailwind-variants.ts
Due: lint-staged, test

chore(deps): remove gluestack-ui packages and their test mocks
  README.md
  __mocks__/@gluestack-ui/image.js
  __mocks__/@gluestack-ui/overlay.js
  __mocks__/@gluestack-ui/provider.js
  __mocks__/@gluestack-ui/toast.js
  jest.config.cjs
  package.json
  pnpm-lock.yaml
  tailwind.config.ts
Due: versions, lint-staged

test(ui): pin the class-string output and stack wrapping
  src/presentation/components/ui/__tests__/__snapshots__/ui-class-string-baseline.test.tsx.snap
  src/presentation/components/ui/__tests__/stack-touchable-wrapping.test.tsx
  src/presentation/components/ui/__tests__/ui-class-string-baseline.test.tsx
Due: lint-staged, test

docs: drop gluestack-ui from the docs and version table
  AGENTS.md
  scripts/update-readme-versions.js
Due: lint-staged

feat(deps): move to Expo SDK 57 and React Native 0.86
  README.md
  package.json
  pnpm-lock.yaml
Due: versions

build(native): regenerate ios and android for Expo SDK 57
  android/app/src/main/AndroidManifest.xml
  ios/NewReactNativeZustandRNQ.xcodeproj/project.pbxproj
  ios/Podfile
  ios/Podfile.lock
  ios/Podfile.properties.json
Due: none

fix(deps): close the form-data advisory and bump JS-only dependencies
  README.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: versions

docs(readme): record the dependency upgrade policy and deferral register
  README.md
Due: none
