Repository linhnguyen-gt/new-react-native-zustand-react-query: changes, and which lefthook commands are due for each by the changed paths.
All: versions, lint-staged

versions:
  run: yarn update-versions && git add README.md

lint-staged:
  run: yarn lint-staged

fix: prebuild
  android/app/build.gradle
  android/app/src/main/java/com/newreactnativezustandrnq/MainApplication.kt
  app.config.ts
  ios/NewReactNativeZustandRNQ/Info.plist
  plugins/with-ios-schemes.ts
Due: lint-staged

upgrade package
  .expo/prebuild/cached-packages.json
  README.md
  index.js
  ios/NewReactNativeZustandRNQ.xcodeproj/project.pbxproj
  ios/NewReactNativeZustandRNQ/Info.plist
  ios/Podfile.lock
  package.json
  src/App.tsx
  yarn.lock
Due: versions, lint-staged

feat: improve preview
  .expo/prebuild/cached-packages.json
  README.md
  index.js
  ios/.xcode.env
  ios/Podfile
  ios/Podfile.lock
  package.json
  src/app/store/index.ts
  src/data/queries/index.ts
  src/data/queries/responseQueries.ts
  src/presentation/hooks/useResponse.ts
  yarn.lock
Due: versions, lint-staged

fix: eslint
  .prettierrc.mjs
  README.md
  package.json
  src/data/services/httpClient/services/requestInterceptor.ts
  src/data/services/navigation/navigationLogger.ts
  src/data/services/navigation/rootNavigator.ts
  src/data/services/reactotron/plugins/zustand.plugin.ts
  src/data/services/secureStorage.ts
  src/presentation/components/input/Input.Hook.ts
  src/presentation/components/input/Input.tsx
  src/presentation/components/ui/box/LoadingBox.tsx
  src/presentation/components/ui/button/index.tsx
  src/presentation/components/ui/toast/index.tsx
  src/shared/helper/storage.ts
  yarn.lock
Due: versions, lint-staged

feat: upgrade package
  .expo/prebuild/cached-packages.json
  README.md
  android/app/build.gradle
  android/app/src/main/AndroidManifest.xml
  app.config.ts
  app.json
  ios/NewReactNativeZustandRNQ/Info.plist
  ios/Podfile.lock
  package.json
  yarn.lock
Due: versions, lint-staged

Update README.md
  README.md
Due: none

fix: expo doctor
  .expo/README.md
  .expo/devices.json
  .expo/prebuild/cached-packages.json
  .gitignore
  android/app/build.gradle
  app.config.ts
  app.json
  babel.config.js
  ios/NewReactNativeZustandRNQ/Info.plist
  ios/Podfile.lock
  package.json
  yarn.lock
Due: versions, lint-staged

fix: runtime javascript ios
  ios/NewReactNativeZustandRNQ/Info.plist
  ios/Podfile
  ios/Podfile.lock
Due: none

chore: change type and name
  ios/NewReactNativeZustandRNQ.xcodeproj/project.pbxproj
  src/data/services/navigation/rootNavigator.ts
  tsconfig.json
Due: lint-staged

fix: env script
  scripts/setup-env.js
Due: lint-staged

refactor: change to use react native config
  .gitignore
  README.md
  android/app/build.gradle
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/newreactnativezustandrnq/MainApplication.kt
  android/app/src/main/production/res/values/strings.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/staging/res/values/strings.xml
  android/settings.gradle
  app.config.ts
  ios/Config.xcconfig
  ios/NewReactNativeZustandRNQ.xcodeproj/project.pbxproj
  ios/NewReactNativeZustandRNQ.xcodeproj/xcshareddata/xcschemes/NewReactNativeZustandRNQ.xcscheme
  ios/NewReactNativeZustandRNQ.xcodeproj/xcshareddata/xcschemes/Product.xcscheme
  ios/NewReactNativeZustandRNQ.xcodeproj/xcshareddata/xcschemes/Staging.xcscheme
  ios/NewReactNativeZustandRNQ/Info.plist
  ios/Podfile.lock
  package.json
  react-native.config.js
  scripts/update-readme-versions.js
  src/data/services/environment.ts
  src/data/services/httpClient/httpClient.ts
  src/data/services/index.ts
  src/presentation/screens/main/index.tsx
  src/presentation/screens/signIn/index.tsx
  src/shared/types/env.d.ts
  src/shared/types/react-native-config.d.ts
  yarn.lock
Due: versions, lint-staged

chore: upgrade lint and readme
  .eslintignore
  README.md
  commitlint.config.js
  eslint.config.js
  ios/NewReactNativeZustandRNQ.xcodeproj/project.pbxproj
  ios/Podfile.lock
  package.json
  scripts/check-env.js
  scripts/setup-env.js
  scripts/update-readme-versions.js
  yarn.lock
Due: versions, lint-staged

feat: migrate to ES modules with modern tooling
  README.md
  babel.config.cjs
  eslint.config.js
  jest.config.cjs
  jest.setup.js
  lefthook.yml
  metro.config.cjs
  package.json
  react-native.config.cjs
  src/presentation/hooks/useThemeColor.ts
  src/presentation/screens/signIn/__tests__/SignInPage.test.tsx
  tailwind.config.cjs
  tsconfig.json
  yarn.lock
Due: versions, lint-staged

chore: write unit test
  .eslintrc.js
  src/presentation/components/input/Input.tsx
  src/presentation/components/input/__tests__/ControlledInput.test.tsx
  src/presentation/components/input/__tests__/Input.Hook.test.ts
  src/presentation/components/input/__tests__/Input.test.tsx
  src/presentation/components/listView/__tests__/ListView.test.tsx
Due: lint-staged

fix: config
  ios/Podfile
  ios/Podfile.lock
  package.json
Due: versions

refactor: upgrade expo
  README.md
  app.json
  ios/NewReactNativeZustandRNQ.xcodeproj/project.pbxproj
  ios/Podfile.lock
  package.json
  yarn.lock
Due: versions

chore: update dependencies and add mock for react-native-config
  README.md
  __mocks__/react-native-config.js
  ios/NewReactNativeZustandRNQ.xcodeproj/project.pbxproj
  ios/Podfile.lock
  package.json
  src/presentation/screens/counter/index.tsx
  yarn.lock
Due: versions, lint-staged

fix: resolve TypeScript errors in ControlledInput and SignUp
  .gitignore
  src/App.tsx
  src/data/queries/responseQueries.ts
  src/data/services/httpClient/httpClient.ts
  src/data/services/httpClient/services/requestInterceptor.ts
  src/data/services/httpClient/services/tokenService.ts
  src/presentation/components/ErrorBoundary.tsx
  src/presentation/components/input/ControlledInput.tsx
  src/presentation/hooks/index.ts
  src/presentation/hooks/usePerformanceMonitor.ts
  src/presentation/screens/counter/index.tsx
  src/presentation/screens/signIn/index.tsx
  src/presentation/screens/signup/index.tsx
  src/shared/helper/storage.ts
  src/shared/validation/index.ts
  src/shared/validation/schemas.ts
  src/shared/validation/validators.ts
Due: lint-staged

fix(tsconfig): remove invalid ignoreDeprecations option
  .gitignore
  README.md
  global.css.d.ts
  nativewind-env.d.ts
  thumbnail/thumbnail.jpeg
  tsconfig.json
Due: lint-staged

refactor(error-handling): add unified error handling and migrate to React Query
  jest.setup.js
  src/app/store/index.ts
  src/app/store/responseStore.ts
  src/core/error/ErrorHandler.ts
  src/core/error/ErrorRecovery.ts
  src/core/error/SentryIntegration.ts
  src/core/error/__tests__/ErrorHandler.test.ts
  src/core/error/__tests__/ErrorRecovery.test.ts
  src/core/error/index.ts
  src/core/index.ts
  src/data/api/responseApi.ts
  src/data/queries/__tests__/responseQueries.test.ts
  src/data/queries/responseQueries.ts
  src/data/services/httpClient/httpClient.ts
  src/data/services/httpClient/services/errorHandler.ts
  src/presentation/hooks/__tests__/useResponse.test.ts
  src/presentation/hooks/useResponse.ts
  src/presentation/screens/main/index.tsx
  src/shared/errors/AppError.ts
  src/shared/errors/__tests__/AppError.test.ts
  src/shared/errors/index.ts
  src/shared/models/responseModels.ts
  tsconfig.json
Due: lint-staged

fix: resolve test failures for SignUpPage and chrome-devtools tests
  .gitignore
  jest.config.cjs
  src/presentation/components/ui/RNLogo.tsx
  src/presentation/components/ui/index.ts
  src/presentation/screens/signIn/index.tsx
  src/presentation/screens/signup/__tests__/SignUpPage.test.tsx
  src/presentation/screens/signup/constants/index.ts
  src/presentation/screens/signup/constants/strings.ts
  src/presentation/screens/signup/hooks/index.ts
  src/presentation/screens/signup/hooks/useSignUpForm.ts
  src/presentation/screens/signup/index.tsx
Due: lint-staged

fix: resolve axios crypto module and Zustand React 19 compatibility
  index.js
  metro.config.cjs
  src/presentation/screens/counter/index.tsx
Due: lint-staged

chore: update dependencies and fix build configuration
  .gitignore
  README.md
  android/app/build.gradle
  android/app/src/debugOptimized/AndroidManifest.xml
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/newreactnativezustandrnq/MainApplication.kt
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/styles.xml
  android/gradle.properties
  android/gradle/wrapper/gradle-wrapper.jar
  android/gradle/wrapper/gradle-wrapper.properties
  android/gradlew
  android/settings.gradle
  ios/NewReactNativeZustandRNQ.xcodeproj/project.pbxproj
  ios/Podfile.lock
  package.json
  src/presentation/screens/signup/hooks/useSignUpForm.ts
  tsconfig.json
  yarn.lock
Due: versions, lint-staged

fix: rename iOS project to NewReactNativeZustandRNQ
  ios/NewReactNativeZustandRNQ/AppDelegate.swift
  ios/Podfile
  ios/Podfile.lock
Due: none

feat: add GitHub Actions CI workflows
  .github/workflows/android-build.yml
  .github/workflows/ci.yml
  .github/workflows/ios-build.yml
  eslint.config.js
  src/data/services/navigation/navigationLogger.ts
  src/shared/helper/logger.ts
Due: lint-staged

chore: trigger CI
  README.md
Due: none

fix: resolve prettier formatting issues
  .prettierrc.mjs
Due: none

fix: clear node_modules cache in CI to avoid stale prettier
  .github/workflows/ci.yml
Due: none

fix: reformat ControlledInput to match CI Prettier format
  src/presentation/components/input/ControlledInput.tsx
Due: lint-staged

fix: revert ControlledInput format and pin Prettier to exact version
  package.json
  src/presentation/components/input/ControlledInput.tsx
Due: versions, lint-staged

chore: format tsconfig.json
  tsconfig.json
Due: none

fix: replace yarn with npm for cross-package-manager compatibility
  package.json
Due: versions

feat: add resolveJsonModule to tsconfig
  tsconfig.json
Due: none

fix: resolve require cycle and deprecation warnings
  src/App.tsx
  src/app/store/storeFactory.ts
  src/presentation/components/ui/RNLogo.tsx
Due: lint-staged

fix: support both npm and yarn in env:setup error messages
  scripts/check-env.js
Due: lint-staged

fix(reactotron): add error handling for zustand plugin
  src/app/store/storeFactory.ts
  src/data/services/reactotron/plugins/zustand.plugin.ts
Due: lint-staged

fix(android): use APP_NAME string resource for app label
  android/app/src/main/AndroidManifest.xml
Due: none

refactor(tailwind): convert config from cjs to ts with type exports
  eslint.config.js
  src/presentation/components/ui/hStack/index.tsx
  src/presentation/components/ui/vStack/index.tsx
  src/presentation/hooks/__tests__/useThemeColor.test.ts
  src/presentation/hooks/useThemeColor.ts
  tailwind.config.cjs
  tailwind.config.ts
Due: lint-staged

refactor(app): optimize secure storage and UI components
  .gitignore
  ios/Podfile.lock
  package.json
  src/data/services/httpClient/services/tokenService.ts
  src/data/services/secureStorage.ts
  src/presentation/components/ui/gluestack-ui-provider/index.tsx
  src/presentation/components/ui/touch/index.tsx
  yarn.lock
Due: versions, lint-staged

Path conditions:
  versions: any of: package.json
  lint-staged: any of: *.{js,ts,jsx,tsx}
